body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user-input {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-top: 20px;
}

#container {
    width: 700px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px;
}

#container div {
    border: 1px solid black;
    box-sizing: border-box;
}